[submodule "themes/linkita-theme"]
	path = themes/linkita-theme
	url = https://codeberg.org/salif/linkita.git
	branch = linkita
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog.git
	ignore = untracked
[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
	ignore = untracked
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita-demo.git
	ignore = untracked
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi-start.git
	ignore = untracked
[submodule "themes/researchlab"]
	path = themes/researchlab
	url = https://codeberg.org/plaublin/researchlab.git
	ignore = untracked
[submodule "themes/project-portfolio"]
	path = themes/project-portfolio
	url = https://github.com/awinterstein/zola-theme-project-portfolio-example.git
	ignore = untracked
[submodule "themes/radion"]
	path = themes/radion
	url = https://github.com/micahkepe/radion.git
	ignore = untracked
[submodule "themes/bearplus"]
	path = themes/bearplus
	url = https://github.com/francoposa/zola-bearplusplus.git
	ignore = untracked
[submodule "themes/serene"]
	path = themes/serene
	url = https://github.com/isunjn/serene-demo-site.git
	ignore = untracked
[submodule "themes/hook"]
	path = themes/hook
	url = https://github.com/InputUsername/zola-hook.git
	ignore = untracked
[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo.git
	ignore = untracked
[submodule "themes/kita"]
	path = themes/kita
	url = https://github.com/st1020/kita.git
	ignore = untracked
[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod.git
	ignore = untracked
[submodule "themes/cela"]
	path = themes/cela
	url = https://github.com/edwardzcn-decade/cela.git
	ignore = untracked
[submodule "themes/mabuya"]
	path = themes/mabuya
	url = https://github.com/semanticdata/mabuya.git
	ignore = untracked
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
	ignore = untracked
[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/en9inerd/zola-hacker.git
	ignore = untracked
[submodule "themes/mo8it-mod"]
	path = themes/mo8it-mod
	url = https://codeberg.org/salif/mo8it-mod.git
	ignore = untracked
[submodule "themes/academic-paper"]
	path = themes/academic-paper
	url = https://github.com/aterenin/academic-paper.git
	ignore = untracked
[submodule "themes/academic-workshop"]
	path = themes/academic-workshop
	url = https://github.com/aterenin/academic-workshop.git
	ignore = untracked
[submodule "themes/ski"]
	path = themes/ski
	url = https://github.com/un1970ix/ski.git
	ignore = untracked
[submodule "themes/devnzt"]
	path = themes/devnzt
	url = https://github.com/devendrn/devnzt.git
	ignore = untracked
[submodule "themes/daisy"]
	path = themes/daisy
	url = https://codeberg.org/winterstein/zola-theme-daisy-example.git
	ignore = untracked
[submodule "themes/ametrine"]
	path = themes/ametrine
	url = https://codeberg.org/daudix/ametrine.git
	ignore = untracked
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/getzola/book.git
	ignore = untracked
[submodule "themes/zola-minimal"]
	path = themes/zola-minimal
	url = https://github.com/semanticdata/zola-minimal.git
	ignore = untracked
[submodule "themes/zola-futu"]
	path = themes/zola-futu
	url = https://github.com/inhzus/zola-futu.git
	ignore = untracked
[submodule "themes/zluinav"]
	path = themes/zluinav
	url = https://github.com/harrymkt/zluinav.git
	ignore = untracked
[submodule "themes/sandbox"]
	path = themes/sandbox
	url = https://github.com/semanticdata/zola-sandbox.git
	ignore = untracked
[submodule "themes/anatole-zola"]
	path = themes/anatole-zola
	url = https://github.com/longfangsong/anatole-zola.git
	ignore = untracked
[submodule "themes/silk"]
	path = themes/silk
	url = https://github.com/DenysVuika/zola-silk.git
	ignore = untracked
[submodule "themes/Seje2"]
	path = themes/Seje2
	url = https://github.com/eatradish/Seje2.git
	ignore = untracked
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
	ignore = untracked
[submodule "themes/oceanic-zen"]
	path = themes/oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
	ignore = untracked
[submodule "themes/olivine"]
	path = themes/olivine
	url = https://github.com/dongryul-kim/olivine.git
	ignore = untracked
[submodule "themes/DogFood"]
	path = themes/DogFood
	url = https://github.com/CSUwangj/DogFood.git
	ignore = untracked
[submodule "themes/doc"]
	path = themes/doc
	url = https://github.com/ProPixelizer/doc_zola_theme.git
	ignore = untracked
