[submodule "themes/linkita-theme"]
	path = themes/linkita-theme
	url = https://codeberg.org/salif/linkita.git
	branch = linkita
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita-demo.git
	ignore = dirty
	color = both
	tu = https://codeberg.org/salif/linkita.git
[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
	ignore = dirty
	color = both
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi-start.git
	ignore = dirty
	color = both
	tu = https://github.com/welpo/tabi.git
[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo.git
	ignore = dirty
	color = both
[submodule "themes/zola-fodoks-theme"]
	path = themes/zola-fodoks-theme
	url = https://github.com/PartialShawn/zola-fodoks-theme.git
	ignore = dirty
	color = both
[submodule "themes/daisy"]
	path = themes/daisy
	url = https://codeberg.org/winterstein/zola-theme-daisy-example.git
	ignore = dirty
	color = both
	tu = https://codeberg.org/winterstein/zola-theme-daisy.git
[submodule "themes/project-portfolio"]
	path = themes/project-portfolio
	url = https://codeberg.org/winterstein/zola-theme-project-portfolio-example.git
	ignore = dirty
	color = both
	tu = https://codeberg.org/winterstein/zola-theme-project-portfolio.git
[submodule "themes/MATbook"]
	path = themes/MATbook
	url = https://github.com/srliu3264/MATbook.git
	ignore = dirty
	color = both
[submodule "themes/olivine"]
	path = themes/olivine
	url = https://github.com/dongryul-kim/olivine.git
	ignore = dirty
	color = both
[submodule "themes/terminus"]
	path = themes/terminus
	url = https://github.com/ebkalderon/terminus.git
	ignore = dirty
	color = dark
[submodule "themes/radion"]
	path = themes/radion
	url = https://github.com/micahkepe/radion.git
	ignore = dirty
	color = dark
[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/en9inerd/zola-hacker.git
	ignore = dirty
	color = dark
[submodule "themes/CyberWalk"]
	path = themes/CyberWalk
	url = https://github.com/plantacerium/zola-theme-cyber-walk.git
	ignore = dirty
	color = dark
[submodule "themes/zap"]
	path = themes/zap
	url = https://github.com/jimmyff/zola-zap.git
	ignore = dirty
	color = both
[submodule "themes/marisa-theme"]
	path = themes/marisa-theme
	url = https://codeberg.org/bitinn/marisa-theme.git
	ignore = dirty
	color = both
[submodule "themes/rilling_dev"]
	path = themes/rilling_dev
	url = https://github.com/RillingDev/rilling.dev.git
	ignore = dirty
	color = both
	tu = https://github.com/RillingDev/rilling.dev_theme.git
[submodule "themes/mabuya"]
	path = themes/mabuya
	url = https://github.com/semanticdata/mabuya.git
	ignore = dirty
	color = both
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
	ignore = dirty
	color = both
[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog.git
	ignore = dirty
	color = both
[submodule "themes/serene"]
	path = themes/serene
	url = https://github.com/isunjn/serene-demo-site.git
	ignore = dirty
	color = both
	tu = https://github.com/isunjn/serene.git
[submodule "themes/halcyon"]
	path = themes/halcyon
	url = https://github.com/m0ddr/halcyon.git
	ignore = dirty
	color = both
[submodule "themes/austere"]
	path = themes/austere
	url = https://github.com/tomwrw/austere-theme-zola.git
	ignore = dirty
	color = both
[submodule "themes/nivis"]
	path = themes/nivis
	url = https://github.com/Resorie/zola-theme-nivis.git
	ignore = dirty
	color = both
[submodule "themes/kita"]
	path = themes/kita
	url = https://github.com/st1020/kita.git
	ignore = dirty
	color = both
[submodule "themes/papermod_2"]
	path = themes/papermod_2
	url = https://github.com/dawnandrew100/zola-theme-papermod-2.git
	ignore = dirty
	color = both
[submodule "themes/cela"]
	path = themes/cela
	url = https://github.com/edwardzcn-decade/cela.git
	ignore = dirty
	color = both
[submodule "themes/tukan"]
	path = themes/tukan
	url = https://codeberg.org/salif/tukan.git
	ignore = dirty
	color = light
[submodule "themes/jiufen"]
	path = themes/jiufen
	url = https://github.com/4yuinfo/zola-theme_jiufen.git
	ignore = dirty
	color = light
[submodule "themes/researchlab"]
	path = themes/researchlab
	url = https://codeberg.org/plaublin/researchlab.git
	ignore = dirty
	color = light
[submodule "themes/vonge"]
	path = themes/vonge
	url = https://github.com/paberr/vonge-zola-theme.git
	ignore = dirty
	color = light
[submodule "themes/academic-paper"]
	path = themes/academic-paper
	url = https://github.com/aterenin/academic-paper.git
	ignore = dirty
	color = both
[submodule "themes/academic-workshop"]
	path = themes/academic-workshop
	url = https://github.com/aterenin/academic-workshop.git
	ignore = dirty
	color = both
[submodule "themes/devnzt"]
	path = themes/devnzt
	url = https://github.com/devendrn/devnzt.git
	ignore = dirty
	color = both
[submodule "themes/landing-grid"]
	path = themes/landing-grid
	url = https://github.com/fastup-one/landing-grid-zola.git
	ignore = dirty
	color = dark
	tu = https://github.com/fastup-one/landing-grid-zola.git
[submodule "themes/BelTree"]
	path = themes/BelTree
	url = https://github.com/cx48/BelTree.git
	ignore = dirty
	color = dark
[submodule "themes/BelResume"]
	path = themes/BelResume
	url = https://github.com/cx48/BelResume.git
	ignore = dirty
	color = light
[submodule "themes/peritus"]
	path = themes/peritus
	url = https://github.com/jskaza/peritus.git
	ignore = dirty
	color = light
[submodule "themes/sidney-professional-resume"]
	path = themes/sidney-professional-resume
	url = https://git.sr.ht/~xyhhx/zola-theme-sidney-professional-resume
	ignore = dirty
	color = light
[submodule "themes/zola-futu"]
	path = themes/zola-futu
	url = https://github.com/inhzus/zola-futu.git
	ignore = dirty
	color = light
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/getzola/book.git
	ignore = dirty
	color = light
[submodule "themes/zola-minimal"]
	path = themes/zola-minimal
	url = https://github.com/semanticdata/zola-minimal.git
	ignore = dirty
	color = light
[submodule "themes/kodama-theme"]
	path = themes/kodama-theme
	url = https://github.com/adfaure/kodama-theme.git
	ignore = dirty
	color = light
[submodule "themes/zola-sveltia-source"]
	path = themes/zola-sveltia-source
	url = https://github.com/unicornfantasian/zola-sveltia-source.git
	ignore = dirty
	color = light
[submodule "themes/zola_easydocs_theme"]
	path = themes/zola_easydocs_theme
	url = https://github.com/codeandmedia/zola_easydocs_theme.git
	ignore = dirty
	color = light
[submodule "themes/noobping"]
	path = themes/noobping
	url = https://github.com/noobping/zola-template.git
	ignore = dirty
	color = both
	tu = https://github.com/noobping/zola-theme.git
[submodule "themes/modus"]
	path = themes/modus
	url = https://github.com/etoal83/zola-modus.git
	ignore = dirty
	color = both
[submodule "themes/hook"]
	path = themes/hook
	url = https://github.com/InputUsername/zola-hook.git
	ignore = dirty
	color = both
[submodule "themes/ski"]
	path = themes/ski
	url = https://github.com/un1970ix/ski.git
	ignore = dirty
	color = both
[submodule "themes/Seje2"]
	path = themes/Seje2
	url = https://github.com/eatradish/Seje2.git
	ignore = dirty
	color = both
[submodule "themes/parchment"]
	path = themes/parchment
	url = https://github.com/jsonfry/parchment.git
	ignore = dirty
	color = both
[submodule "themes/bearplus"]
	path = themes/bearplus
	url = https://github.com/salif/bearplus.git
	ignore = dirty
	color = both
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
	ignore = dirty
	color = dark
[submodule "themes/dark-magic"]
	path = themes/dark-magic
	url = https://github.com/DirectorX/dark-magic.git
	ignore = dirty
	color = dark
[submodule "themes/DogFood"]
	path = themes/DogFood
	url = https://github.com/CSUwangj/DogFood.git
	ignore = dirty
	color = dark
[submodule "themes/oceanic-zen"]
	path = themes/oceanic-zen
	url = https://github.com/barlog-m/oceanic-zen.git
	ignore = dirty
	color = dark
[submodule "themes/zluinav"]
	path = themes/zluinav
	url = https://github.com/harrymkt/zluinav.git
	ignore = dirty
	color = light
[submodule "themes/sandbox"]
	path = themes/sandbox
	url = https://github.com/salif/sandbox.git
	ignore = dirty
	color = light
[submodule "themes/silk"]
	path = themes/silk
	url = https://github.com/DenysVuika/zola-silk.git
	ignore = dirty
	color = light
[submodule "themes/anatole-zola"]
	path = themes/anatole-zola
	url = https://github.com/longfangsong/anatole-zola.git
	ignore = dirty
	color = light
[submodule "themes/lekhz"]
	path = themes/lekhz
	url = https://github.com/ba11b0y/lekhz.git
	ignore = dirty
	color = both
[submodule "themes/pico"]
	path = themes/pico
	url = https://github.com/kuznetsov17/pico.git
	ignore = dirty
	color = both
[submodule "themes/photography"]
	path = themes/photography
	url = https://codeberg.org/arbs09/photography-theme.git
	ignore = dirty
	color = dark
[submodule "themes/xuan"]
	path = themes/xuan
	url = https://github.com/jhq223/xuan.git
	ignore = dirty
	color = both
[submodule "themes/duckling"]
	path = themes/duckling
	url = https://git.aparoksha.dev/david-swift/duckling.git
	ignore = dirty
	color = both
[submodule "themes/portio-zola"]
	path = themes/portio-zola
	url = https://codeberg.org/quentin-rodriguez/portio-zola.git
	ignore = dirty
	color = light
[submodule "themes/martinique"]
	path = themes/martinique
	url = https://codeberg.org/martinlarsson/martinique.git
	ignore = dirty
	color = both
[submodule "themes/coffee"]
	path = themes/coffee
	url = https://github.com/Myxogastria0808/coffee.git
	ignore = dirty
	color = dark
[submodule "themes/coast"]
	path = themes/coast
	url = https://github.com/Myxogastria0808/coast.git
	ignore = dirty
	color = light
[submodule "themes/hayflow"]
	path = themes/hayflow
	url = https://gitlab.com/cyril-marpaud/hayflow.git
	ignore = dirty
	color = dark
[submodule "themes/hallo"]
	path = themes/hallo
	url = https://codeberg.org/janbaudisch/zola-hallo.git
	ignore = dirty
	color = light
[submodule "themes/persona"]
	path = themes/persona
	url = https://github.com/hanson-hschang/persona-zola-theme.git
	ignore = dirty
	color = light
[submodule "themes/OnePageAPI"]
	path = themes/OnePageAPI
	url = https://github.com/VishalRashmika/OnePageAPI.git
	ignore = dirty
	color = light
[submodule "themes/zola-pechersk"]
	path = themes/zola-pechersk
	url = https://github.com/ctrlok/zola-pechersk.git
	ignore = dirty
	color = both
