[submodule "themes/zola-bearblog"]
	path = themes/zola-bearblog
	url = https://codeberg.org/alanpearce/zola-bearblog
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi.git
[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
[submodule "themes/linkita"]
	path = themes/linkita
	url = https://codeberg.org/salif/linkita.git
[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo
[submodule "themes/terminimal"]
	path = themes/terminimal
	url = https://github.com/pawroman/zola-theme-terminimal.git
[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone.git
[submodule "themes/zola-pulladidoks-theme"]
	path = themes/zola-pulladidoks-theme
	url = https://github.com/ShawnPConroy/zola-pulladidoks-theme.git
[submodule "themes/mabuya"]
	path = themes/mabuya
	url = https://github.com/semanticdata/mabuya.git
[submodule "themes/zallery"]
	path = themes/zallery
	url = https://github.com/gamingrobot/zallery.git
[submodule "themes/DogFood"]
	path = themes/DogFood
	url = https://github.com/CSUwangj/DogFood.git
[submodule "themes/devnzt"]
	path = themes/devnzt
	url = https://github.com/devendrn/devnzt.git
[submodule "themes/researchlab"]
	path = themes/researchlab
	url = https://codeberg.org/plaublin/researchlab.git
[submodule "themes/fl1tzi-com-theme"]
	path = themes/fl1tzi-com-theme
	url = https://codeberg.org/Fl1tzi/fl1tzi-com-theme.git
[submodule "themes/zluinav"]
	path = themes/zluinav
	url = https://github.com/harrymkt/zluinav.git
[submodule "themes/hacker"]
	path = themes/hacker
	url = https://github.com/en9inerd/zola-hacker.git
[submodule "themes/hook"]
	path = themes/hook
	url = https://github.com/InputUsername/zola-hook.git
[submodule "themes/mo8it"]
	path = themes/mo8it
	url = https://codeberg.org/salif/zola-mo8it.git
