{% extends "index.html" %}
{% block main %}
<script>
  const p = window.location.pathname;
  const b = p.indexOf("/demo/");
  const n = b > -1 ? p.substring(b+6).indexOf("/") : -1;
  if (n > 0 && !p.endsWith("404.html")) {
  window.location.replace(
    window.location.href.replace(p.substring(0, b+6+n), p.substring(0, b+6+n) + "/404.html?err="));
  }
</script>
<h1 class="absolute inset-x-8 top-0 bottom-20 flex items-center justify-center text-6xl">{{
  m_i18n::tr(key=`error_not_found`, d=g_d) }}</h1>
{% endblock main %}
