{% extends "index.html" %}
{% block main %}

{% for asset in page.assets %}
{% if asset is ending_with("data.toml") %}
{% set_global data = load_data(path=asset, format="toml") %}
{% endif %}
{% endfor %}
{%- set base_url_lang = get_url(path="", lang=lang) %}

<h1 class="mb-16">{{ page.title }}</h1>
{% for project in data.project %}
<div class="block-bg my-4 flex w-full flex-col rounded-lg px-5 py-1.5">
  <h2 class="not-prose my-2 text-xl font-bold text-black dark:text-white">{{ project.name }}</h2>
  <div class="not-prose">
    <picture>
      <source srcset="./screenshots/light-{{ project.theme }}.webp" type="image/webp"
        media="(prefers-color-scheme: light)" width="1360" height="765" />
      <source srcset="./screenshots/dark-{{ project.theme }}.webp" type="image/webp"
        media="(prefers-color-scheme: dark)" width="1360" height="765" />
      <img src="./screenshots/light-{{ project.theme }}.webp"
        alt="Screenshot of the {{ project.name }} theme" width="1360" height="765" />
    </picture>
    <p>{{ project.desc }}</p>
  </div>
  {{ project.details | markdown(inline=true) | safe }}
  <div class="not-prose my-2 flex flex-wrap items-center justify-between">
    <div class="flex flex-wrap gap-x-2 text-sm opacity-80">
      {% for tag in project.tags %}
      <span>#{{ tag }}</span>
      {% endfor %}
    </div>
    <div class="flex flex-wrap gap-x-2">
      {% for link in project.links %}
      <a
        class="underline"
        {%- if link.js %}
        onclick="{{ link.js | safe }}"
        href="{{ link.url | escape_xml | safe }}"
        {%- else %}
        href="{{ link.url | replace(from=`$BASE_URL`, to=base_url_lang) | escape_xml | safe }}"
        rel="noopener"
        target="_blank"
        {%- endif %}
        >{{ link.name }}</a
      >
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}
{% endblock main %}
