body,h1,h2,h3,h4,h5 { font-family: "Helvetica", "Arial","LiHei Pro", "Noto Sans CJK TC", "Microsoft JhengHei", "PingFang", "STHeiti", "sans-serif", "serif";}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
h2 {
    border-bottom: 2px solid #3a3b3c;
    padding-bottom: 8px;
}