/*--------------------------------------------------------------
# Blog 
--------------------------------------------------------------*/
ol {
  list-style-type: none;
}

.post-entry {
  margin-bottom: 30px;
}

.post-entry .post-meta {
  margin-top: 20px;
  margin-bottom: 10px;
}

.post-entry .post-meta .post-title {
  font-size: var(--subtitle-font-size);
}

.post-entry .post-meta .post-date {
  color: var(--color-gray);
  font-size: var(--normal-font-size);
  margin-left: 40px;
  width: fit-content;
  white-space: nowrap;
}

.post-entry p {
  text-align: justify;
  margin-left: 20px;
}
