/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
/* Header - Desktop */
@media (min-width: 768px) {
  .header {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 997;
    align-items: center;
    position: sticky;
    top: 0;
    flex-direction: row;
  }

  .header:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--header-background-color);
    z-index: -1;
  }

  .header .logo {
    line-height: 1;
  }

  .header .logo img {
    max-height: 32px;
    margin-right: 8px;
  }

  .header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 300;
    color: var(--heading-color);
  }

  .scrolled .header {
    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
  }
}

/* Header - Mobile */
@media (max-width: 767px) {
  .header {
    color: var(--default-color);
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 0 var(--nav-menu-border-padding);
    transition: all ease-in-out 0.3s;
    overflow-y: auto;
    z-index: 997;
    width: calc(var(--nav-menu-mobile-width) + var(--nav-menu-mobile-border-width));
    background: var(--background-color);
    border-right: var(--nav-menu-mobile-border-width) solid color-mix(in srgb, var(--default-color), transparent 90%);
    /* left: -100%; */
    left: calc(-1 * var(--nav-menu-mobile-width));
    flex-direction: column;
  }

  .header.navmenu-show {
    left: 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 768px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i {
    display: none;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: var(--nav-hover-color);
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 85%);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Navmenu - Mobile */
@media (max-width: 767px) {
  .navmenu {
    padding: 0;
    z-index: 9997;
  }
  
  .navmenu>ul {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    width: calc(var(--nav-menu-mobile-width)-2*var(--nav-menu-border-padding));
  }
  
  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    font-family: var(--nav-font);
    display: flex;
    align-items: center;
    padding: 10px 18px;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 50px;
    background: color-mix(in srgb, var(--default-color), transparent 92%);
    height: var(--nav-icon-size);
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .navmenu a i,
  .navmenu a:focus i {
    font-size: 20px;
  }
  
  .navmenu a span,
  .navmenu a:focus span {
    padding: 0 5px 0 7px;
  }
  
  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus,
  .navmenu li:hover>a {
    color: var(--contrast-color);
    background: var(--nav-hover-color);
  }
  
  .navmenu a:hover,
  .navmenu li:hover>a {
    max-width: 100%;
    color: var(--contrast-color);
  }
  
  .navmenu a:hover span,
  .navmenu li:hover>a span {
    display: block;
  }

  .navmenu .dropdown ul {
    display: none;
  }


  /*--------------------------------------------------------------
  # Navigation Toggle
  --------------------------------------------------------------*/
  .nav-toggle {
    color: var(--contrast-color);
    background-color: var(--accent-color);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--botton-size);
    height: var(--botton-size);
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: var(--botton-position-away-from-corner-vertical-distance);
    right: var(--botton-position-away-from-corner-horizontal-distance);
    z-index: 9999;
    transition: background-color 0.3s;
  }

  .nav-toggle:hover {
    color: var(--contrast-color);
    background-color: color-mix(in srgb, var(--accent-color) 90%, white 15%);
  }

}